/* GLOBAL CSS */
body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
  }

  p{
    font-size: 24px;
  }

  button {
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    width: 200px;
    height: 60px;
    margin: 10px;
    font-size: 24px;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
  }

  h2 {
    margin-left: 40px;
    color: white;
  }


/* CONTAINER FOR THE GAME AND MENU */
  .game-wrapper {
    position: relative;
    background: black;
    width: 1024px;
    height: 868px;
    cursor: none;
    /* margin: 0 auto; */
  }


  /* MENU STYLES */
.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 400px;
  margin-bottom: 250px;
  height: 100vh;
  color: white;
}

.menu button.selected {
  background-color: white;
  color: black;
}

.instructions{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.leaderboard{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.credit{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
    
  .scoreboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 68px;
    background-color: red;
    /* display: inline-flex; */
    display: none;
  }

  
  .game-area {
    position: absolute;
    top: 170px;
    left: 112px;
    width: 800px;
    height: 600px;
    background-color: rgb(40, 13, 13);
    display: none;
  }
  

  
  /* BRICKS STYLE AND PROPERTIES */
  .brick-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 400px;
    display: grid;
    /* margin-left: 2px; */
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 5px; 
    /* margin: 10px 5px; */
  }

  .brick{
    background-color: rgb(255, 255, 255); 
    height: 35px;
    width: 75px;
}

  .steel-brick {
    background-color: rgb(113, 107, 107); 
    height: 35px;
    width: 75px;
  }

  .powerup-brick {
    background-color: blue;
    height: 35px;
    width: 75px;
  }


  /* PADDLE STYLE AND PROPERTIES */
  .paddle {
    position: absolute;
    bottom: 10px;
    left: 350px;
    width: 100px;
    height: 30px;
    background-color: red;
    border-radius: 5px;
  }
  
  /*BALL STYLE AND PROPERTIES*/
  .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }
  
  /*PAUSE AND GAME OVER STYLE AND PROPERTIES*/
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* font-size: 24px; */
    color: white;
    text-shadow: 1px 1px 1px black;
    background: rgb(0, 0, 0, 0.8);
    height: 90px;
    width: 240px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    font-weight:bold; 
    display: block;
  }

